:root {
  /* Colors */
  --color-fg: #ffb000;
  --color-bg: #111111;

  /* Typography: Main */
  --font-family: 'Noto Sans Mono', 'Noto Sans-fallback', 'Courier New', Courier, 'Lucida Console', monospace;
  --font-normal: 400;
  --font-bold: 700;
  --font-md: 1.6rem;
  --font-leading: 1.6;
  --font: var(--font-normal) var(--font-md) / var(--font-leading)
    var(--font-family);

  /* Typography: Accent */
  --font-accent-family: Handjet, Arial Narrow, sans-serif;
  --font-accent-normal: 400;
  --font-accent-md: 1.4rem;
  --font-accent-lg: 1.6rem;
  --font-accent-leading: 1.5;
  --font-accent-xxl: 5.4rem;
  --font-accent: var(--font-accent-normal) var(--font-accent-md) /
    var(--font-accent-leading) var(--font-accent-family);

  /* Typography: Headings */
  --font-heading-family: 'Press Start 2P', Trebuchet MS, sans-serif;
  --font-heading-normal: 400;
  --font-heading-md: 2.6rem;
  --font-heading-lg: 3rem;
  --font-heading-xl: 4rem;
  --font-heading-leading: 0.7;
  --font-heading: var(--font-heading-normal) var(--font-heading-md) /
    var(--font-heading-leading) var(--font-heading-family);

  /* Spacing */
  --spacing-xs: 0.6rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;

  /* Margins */
  --margin: 2rem;

  /* Base */
  font-size: 10px;
  line-height: 1.5;
  transform-origin: top center;
  color: var(--color-fg);
  background: var(--color-bg);
  cursor: var(--cursor-default, default);
    transition: color 200ms ease;
}

:root::before {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  content: '';
  background:
    linear-gradient(0deg, var(--color-fg) 50%, transparent 50%) center / 5px 5px,
    transparent 50%;
  animation: glitch-anim 0.2s infinite;
  opacity: 0.05;
  pointer-events: none;
}

*::selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

*:active {
  cursor: var(--cursor-default-click, default);
}

*:focus-visible {
  outline: none;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
}

body.appear {
  animation: glitch 0.5s linear;
}

p, p:active {
  cursor: var(--cursor-text, text);
}

main {
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  color: var(--color-fg);
  flex: 1;
  font: var(--font);
  padding: var(--margin);
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
}

main fn-head {
  margin-bottom: var(--spacing-md)
}

main strong {
  font-weight: var(--font-bold);
}

main h1,
main h2,
main h3 {
  font: var(--font-heading);
  text-transform: uppercase;
  margin: var(--spacing-md) 0;
  word-spacing: -0.25em;
  margin-block-start: 2em;
}

main h1 span,
main h2 span,
main h3 span {
  display: inline-block;
}

main h1 span:not(:last-of-type)::after,
main h2 span:not(:last-of-type)::after,
main h3 span:not(:last-of-type)::after {
  content: '\00a0';
}

main h1 > em,
main h2 > em,
main h3 > em {
  font: var(--font-accent);
  text-transform: uppercase;
  word-spacing: normal;
  letter-spacing: 0.05em;
  font-size: var(--font-accent-lg);
  display: inline-block;
  margin-top: var(--spacing-xs);
}

main h1 {
  font-size: var(--font-heading-xl);
}

main h2 {
  font-size: var(--font-heading-lg);
}

main h3 {
  font-size: var(--font-heading-md);
}

main p {
  margin: var(--spacing-md) 0;
}

main .image-wrapper {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

main img,
main video,
main iframe {
  max-inline-size: 100%;
  block-size: auto;
}

main hr {
  border-color: var(--color-fg);
  border-style: solid;
  border-width: 0.3rem;
  max-width: 20rem;
  display: inline-block;
  width: 100%;
  margin: var(--spacing-md) 0;
}

main blockquote {
  font-size: 1.1em;
  margin: 0;
  padding: var(--spacing-md);
  border-left: 0.5em solid;
}

fn-action a:has(fn-icon) {
  gap: var(--spacing-xs);
}

fn-head span.divider::after {
  content: "|";
  opacity: 0.25;
}

fn-image {
  width: 100%;
}

/* Sticky UI */

/* Small Viewport */
@media screen and (width <= 70rem) {
  body > header {
    position: sticky;
    z-index: 10;
    top: 0;
  }

  body > header::after {
    transition: opacity 300ms ease;
    opacity: 0;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: blur(30px);
  }

  body > header.sticky::after {
    opacity: 1;
  }
}

/* Large Viewport */
@media screen and (width >= 70rem) {
  body > header,
  body > footer {
    position: sticky;
    z-index: 10;
  }

  body > header {
    top: 0;
  }

  body > footer {
    bottom: 0;
  }
}

@keyframes glitch {
  /* Glitch */
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }
  41% {
    transform: skewX(1deg);
  }
  42% {
    transform: skewX(-1deg);
  }
  59% {
    transform: skewX(3.5deg) skewY(1deg);
  }
  60% {
    transform: skewX(-3.5deg) skewY(-1deg);
  }
  63% {
    transform: skewX(1deg) skewY(-0.5deg);
  }
  70% {
    transform: skewX(-3deg) skewY(-2deg);
  }
  71% {
    transform: skewX(1deg) skewY(-1deg);
  }
}

@keyframes glitch-anim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
