:root {
    /* Colors */
    --color-fg-rgb: 255, 176, 0;
    --color-bg-rgb: 17, 17, 17;
    --color-fg: rgb(var(--color-fg-rgb));
    --color-bg: rgb(var(--color-bg-rgb));
    --color-bg-pattern: linear-gradient(
          0deg,
          rgba(var(--color-fg-rgb), 0.02) 50%,
          transparent 50%
        )
        center / 5px 5px,
      var(--color-bg) 50%;
  
    /* Typography */
    --typography-body-family: 'Roboto', sans-serif;
    --typography-body: 1.8rem/1.5em var(--typography-body-family), sans-serif;
    --typography-heading-family: 'Roboto', sans-serif;
    --typography-heading: 3rem/1.2em var(--typography-heading-family), sans-serif;
    --typography-accent-family: 'Roboto', sans-serif;
    --typography-accent: 1.8rem/1.5em var(--typography-accent-family), sans-serif;
  
    /* Spacing */
    --spacing-xs: 0.4rem;
    --spacing-sm: 0.8rem;
    --spacing-md: 1.6rem;
    --spacing-lg: 3.2rem;
    --spacing-xl: 6.4rem;
  
    /* Margins */
    --margin: 2rem;
  }
  
  html {
    color: var(--color-fg);
    font-size: 62.5%;
    background-color: var(--color-bg);
    background: var(--color-bg-pattern);
  }
  
  body {
    margin: 0;
  }


  

  