/* press-start-2p-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/press-start-2p-v15-latin-regular.woff2') format('woff2');
}

/* noto-sans-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-mono-v30-latin-regular.woff2') format('woff2');
}

/* noto-sans-mono-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/noto-sans-mono-v30-latin-800.woff2') format('woff2');
}

/* handjet-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Handjet';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/handjet-v19-latin-regular.woff2') format('woff2');
}

/* handjet-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Handjet';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/handjet-v19-latin-600.woff2') format('woff2');
}